.newspace_main {
	display: flex;
	height : 972px;
	font-family: 'Sunflower', sans-serif;

	/* background : url('https://source.unsplash.com/tqzqzH8hb5A'); */
	background: url('../../universe.jpg');
	background-size : cover;
}
