.main {
	height : 972px;
	background-position: center;
	background : url('../../back.jpg'); 
	background-size : cover;
}

.title {
	font-family: 'Dokdo', cursive;
	padding-top : 8rem;
	text-align : center;
	color : white;
}

.tap {
	font-family: 'Dokdo', cursive;
	padding-top : 5rem;
	width : 55rem;
	margin : auto;
	display : flex;
	justify-Content : space-between;
	
}

.tap :hover {
	z-index: 1;
	color :red;
	background-color: black;
	text-decoration: none;
}

.tap_content {
	z-index: 1;
	width : 250px;
	height : 400px;
	background-color : rgba(125,125,125, 0.7);
	border : 3px solid white;
	color : gray;
	color: black;
	text-align: center;
}

.tap_title {
	margin-top: 6rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.tap_subtitle {
	margin-top: 1rem;
}
.icon {
	width : 25%;
	height: 25%;
}