.main {
	height : 972px;
	background-position: center;
	background : url('../../back.jpg'); 
	background-size : cover;
}

.title {
	padding-top : 8rem;
	text-align : center;
	color : white;
}

.tap {
	padding-top : 5rem;
	width : 55rem;
	margin : auto;
	display : flex;
	justify-Content : space-between;
}

.tap_content {
	width : 250px;
	height : 400px;
	background-color : rgba(255,255,225, 0.7);
	border : 3px solid white;
	color : gray;
	text-align: center;
}
