@media screen and (min-width: 768px){
	.navLink {
		width: 100%;
		margin: 0rem 1.8rem 0rem 1.8rem ;
		text-align: center;
	}

	.simulation_main {
		text-align : center;
		background-color : black;
	}
}

.navLink {
	text-align: center;
}
.simulation_main {
	width : 100%;
}

