@media screen and (min-width: 768px){
	.navLink {
		width: 100%;
		margin: 0rem 1.8rem 0rem 1.8rem ;
		text-align: center;
	}
}

.navLink {
	text-align: center;
}


.search {
	display: flex;
	height: 20rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background : url('https://source.unsplash.com/CzigtQ8gPi4');
	background-size : cover;
}

.search_content {
	display: flex;
	flex-direction: column;
	align-items : center;
	margin-top : 5.5rem;
	width : 100%;
	vertical-align: middle;
	color: white;
}


.search_box {
	margin-top : 1.2rem;
	width : 30rem  !important;
}


.thumnails{
	max-width : 68rem;
	margin:0 auto;
}

.thumnails_content {
	display : flex;
	text-align:center;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
}
.no_thumnails_content {
	display : flex;
	flex-direction: column;
	text-align:center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.img {
	flex-grow : 1;
	width : 98%;
	margin-left : 0.25rem;
	margin-right : 0.25rem;
	margin-bottom : 0.5rem;
}


@media screen and (max-width: 500px) {
    .thumnails_content {
		display : block;
	}
	.search_box {
		margin-top : 1.2rem;
		width : 20rem;
	}
	.h1 {
		font-size :1.7em;
	}
}

